* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* Menu base styles */
nav {
  background: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

.tw {
  background: url(images/tw.png) no-repeat center;
  background-size: 75%;
}

.fb {
  background: url(images/fb.png) no-repeat center;
  background-size: 75%;
}

.social a {
  text-indent: -10000px;
}

.social li {
  width: 90px;
}

.social {
  max-width: 80px;
  margin: 0 auto;
}
nav ul.social {
  flex: 1 1 0;
  display: flex;
}

/* Flex styles */
@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  .social {
    margin: 0;
  }
}
