* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* Menu base styles */
nav {
  background: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

/* Flex styles */
@media (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav li {
    /* flex: 1 1 0; */
  }
}
